<!DOCTYPE html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}{% endblock %}Todos Identificados</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<header>
	<h2 align="center">TODOS IDENTIFICADOS</h2>
	<h3 align="center">ARCHIVOS DE LA DICTADURA CHILENA (73'-90')</h3>
</header>

<nav class="navbar-menu">
  <ul>
    <li><a href="{{url_for('fichas')}}">Fichas de Inteligencia</a></li>
    <li><a href="{{url_for('map')}}">Geografía del exterminio</a></li>
    <li><a>Buscador de Memoria</a></li>
    <li><a href="{{url_for('who')}}">¿Quiénes somos?</a></li>
  </ul>
</nav>

{% if (fichas or resultado) %}
<h3 align="center">Fichas de inteligencia de la DINA</h3>
<p align="center">Cerca de 45mil fichas fueron encontradas en Colonia Dignidad, dando luces de ser sólo una parte de un sistema mayor para la persecución ideológica.</p>
<div class="container" align='center'>
<form method="POST">
	<p> Ingresar nombre: <input type="text" name="busqueda"> <input type="submit" value="Buscar">
</form>
</div>
{% endif %}
{% if resultado %}
<div class="resultado" align="center" style="margin-top:20px;">
  {% for table in resultado %}
     {{ table|safe }}
  {% endfor %}
</div>
{%endif%}


{% if who %}
<h3 align="center">¿Quiénes somos?</h3>
<div class="who" align="center" style="margin-top:20px;">
	<p align="center">Somos un grupo de programadores y cientistas de datos que decidimos construir una plataforma de acceso inteligente a la documentación disponible de la dictadura.<br><br>La plataforma está desarrollada en Python y desplegada con Docker-Compose, ¡ayúdanos a hacerla crecer!<br> <a href="http://github.com/deibanez/todosidentificados.git">http://github.com/deibanez/todosidentificados.git</a>
</div>
{%endif%}

{% if map %}

<h3 align="center">Geografía del exterminio</h3>
<p align="center">El Estado dictatorial exterminó a miles de personas por razones políticas, incluso en territorio extranjero. La Comisión Nacional de Verdad y Reconciliación (90'-91') cifró en 2.298 los casos reconocidos como parte del genocidio (Informe Rettig), siendo georreferenciados a continuación.<br><br>(Versión optimizada para Escritorio)</p>


<div class="embed-container" align="center">
	                <iframe src="http://todosidentificados.cl/geo" allowfullscreen style="width: 100%; min-height:400px"></iframe>
</div>

{% endif%}

<footer>
{% if (fichas or resultado) %}
  <p align='center'>Fichas obtenidas de <a href="https://www.londres38.cl/1934/w3-article-96548.html" target="_blank">Londres38</a>.</p>

{% endif %}
{% if map %}
  <p align='center'>Datos obtenidos de <a href="http://github.com/danilofreire/pinochet">pinochet: Packages data about the victims of the Pinochet regime</a>
{% endif%}

<img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Visitas">
</footer> 
